<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header - Potion Online Pharmacy</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
    <header th:fragment="header" class="navbar">
        <div class="navbar-brand">
            <a href="/">MAIN</a>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#">My Profile</a></li>
        </ul>
        <div class="top-links">
            <th:block th:if="${session.mdto == null}">
                <a href="/user/login">Login</a>
                <a href="/user/addUser">Sign Up</a>
            </th:block>
            <th:block th:unless="${session.mdto == null}">
                <span th:text="${session.mdto.role}"></span>
                <span th:text="${session.mdto.id}"></span>
                <a href="/user/logout">Logout</a>
            </th:block>
            <a href="/board/boardList">Board</a>
        </div>
    </header>
</body>
</html>
